<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Property>
        <Property name="LOG_DIR">logs</Property>
    </Properties>

    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <!-- Application Log File -->
        <RollingFile name="ApplicationFile" fileName="${LOG_DIR}/application.log"
                     filePattern="${LOG_DIR}/application-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="100MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>

        <!-- SQL Log File -->
        <RollingFile name="SqlFile" fileName="${LOG_DIR}/sql.log"
                     filePattern="${LOG_DIR}/sql-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="50MB"/>
            </Policies>
            <DefaultRolloverStrategy max="15"/>
        </RollingFile>

        <!-- Security Log File -->
        <RollingFile name="SecurityFile" fileName="${LOG_DIR}/security.log"
                     filePattern="${LOG_DIR}/security-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="50MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>

        <!-- Error Log File -->
        <RollingFile name="ErrorFile" fileName="${LOG_DIR}/error.log"
                     filePattern="${LOG_DIR}/error-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="50MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- Application Loggers -->
        <Logger name="com.tickettracker" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="ApplicationFile"/>
        </Logger>

        <!-- SQL Loggers -->
        <Logger name="java.sql" level="DEBUG" additivity="false">
            <AppenderRef ref="SqlFile"/>
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="com.tickettracker.dao" level="DEBUG" additivity="false">
            <AppenderRef ref="SqlFile"/>
            <AppenderRef ref="ApplicationFile"/>
        </Logger>

        <!-- Security Loggers -->
        <Logger name="com.tickettracker.filter" level="INFO" additivity="false">
            <AppenderRef ref="SecurityFile"/>
            <AppenderRef ref="ApplicationFile"/>
        </Logger>

        <Logger name="com.tickettracker.service.AuthenticationService" level="INFO" additivity="false">
            <AppenderRef ref="SecurityFile"/>
            <AppenderRef ref="ApplicationFile"/>
        </Logger>

        <!-- Third-party Loggers -->
        <Logger name="org.apache" level="WARN"/>
        <Logger name="oracle" level="WARN"/>

        <!-- Root Logger -->
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="ApplicationFile"/>
            <AppenderRef ref="ErrorFile"/>
        </Root>
    </Loggers>
</Configuration>
